<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.resources.handmeasure.sdk">
    <application>
        <activity
            android:name="com.resources.handmeasure.sdk.HandMeasureActivity"
            android:exported="false"
            android:theme="@style/Theme.HandMeasure" />
    </application>
</manifest>
